@font-face {
  font-family: ImportedFont;
  src: url("/fonts/AstroSpace-0Wl3o.otf");
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

/* Modify the form */
form{
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 2.4rem;
  z-index: 2;
  width: 10rem;
}

select{
  border-radius: .4rem;
  padding: .4rem .8rem;
  font-weight: 550;
  font-size: 1.03rem;
}

select:focus {
  outline:none;  
}

/* The title fo the planet*/
#planet-title{
  color:white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 2rem;
  font-family: ImportedFont;
  font-size: 3rem;
  text-shadow:
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 92px #0fa,
    0 0 110px #0fa;
}

/*Modify dropdown and Title*/
@media screen and (max-width: 70rem) {
  #planet-title {
    visibility: hidden;
  }
  form{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }
}




/* Info about the planet*/
#fact{
  position: fixed;
  bottom: 0;
  color: white;
}


#header-container{
  position: relative;
  width: 100%;
}

.row-header{
  text-align: left;
  width: 10rem;
}

table{
  margin-bottom: .2rem;
  margin-left: .2rem;
}

#SolarSystem,
#Sun, 
#Mercury, 
#Venus, 
#Earth,
#Mars,
#Jupiter,
#Saturn,
#Uranus,
#Neptune{
  display: none;
}

